<div class="page-container">
  <p>
    [x] deixar responsivo usando flex, com ajuste automático de elementos por
    linha
  </p>
  <p>deixar responsivo usando grid com:</p>
  <p>[x] 4 colunas telas com width > 1000px</p>
  <p>[x] 1 colunas telas com width <= 1000px</p>

  <p>
    Deixando responsivo usando Flex e ajuste automático de elementos por linha:
  </p>
  <div class="wrapper flex" style="border: 1px solid blue; gap: 20px">
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
    <div class="item blue"></div>
  </div>
  <p>Deixando responsivo usando Grid:</p>
  <div class="wrapper grid" style="border: 1px solid blue; gap: 20px">
    <div class="item blue"></div>
    <div class="item red"></div>
    <div class="item black"></div>
    <div class="item blue"></div>
  </div>
</div>
