.item {
  width: 100px;
  height: 100px;
  background-color: red;
  flex-shrink: 0;
}

.wrapper.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.blue {
  background-color: blue;
}

.red {
  background: red;
}

.black {
  background-color: black;
}
